<div class="container mt-5 mb-5">
  <form [formGroup]="myForm" (ngSubmit)="submit()" class="text-center border border-light p-5">
    <p class="h4 mb-4">Service Form</p>

    <div class="form-row mb-4">
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormFirstName"
          class="form-control"
          placeholder="Name"
          formControlName="username"
        />
      </div>
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormLastName"
          class="form-control"
          placeholder="Phone Number"
          formControlName="mobileno"
        />
      </div>
    </div>

    <input
      type="email"
      id="defaultRegisterFormEmail"
      class="form-control mb-4"
      placeholder="Animal Type"
      formControlName="animaltype"
    />

    <select class="browser-default custom-select mb-4" formControlName="services">
      <option value="" disabled selected>Choose Service</option>
      <option value="HEALTH CARE">HEALTH CARE</option>
      <option value="RESCUE">RESCUE</option>
      <option value="DEAD BODY PICK-UP">DEAD BODY PICK-UP</option>
      <option value="VACCINATION">VACCINATION</option>
      <option value="PET ADOPTION">PET ADOPTION</option>
      <option value="PET CARE">PET CARE</option>

    </select>

    <div class="form-group">
      <textarea
        class="form-control rounded-0"
        id="exampleFormControlTextarea2"
        rows="3"
        placeholder="Address"
        formControlName="address"
      ></textarea>
    </div>

    <div class="form-group">
      <textarea
        class="form-control rounded-0"
        id="exampleFormControlTextarea2"
        rows="3"
        placeholder="Description"
        formControlName="problem"
      ></textarea>
    </div>

    <button mdbBtn style="background: #febf01; color: white;" block="true" class="my-4" type="submit">
      Submit
    </button>

    <hr />
  </form>
</div>
