<section class="story mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          loading="lazy"
          height="500px"
          width="40%"
          src="/assets/images/cat.jpg"
          class="responsive"
          alt="story"
        />
      </div>
      <div class="col-lg-6">
        <div class="story-content">
          <h2>Our Story</h2>
          <!-- <h5 class="tagline">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, minima. Nemo impedit fuga nostrum expedita sint dicta ullam quam et harum velit saepe"</h6> -->
          <p>
            We as a part of Uddhar (RESCUE- Meaning in English) we are an Non
            Govermental Organization (NGO) Based in INDIA that works for the
            welfare of animals and birds to provide then better Health quality
            and Lifestyle as our tag line says "Right to Live". We provide
            almost all services that any any animal need at a very low cost and
            some for free as we are an NGO we operate on the donations we get.
            so if you liked our work you can also help us making our community
            bigger and help animals on a bigger scale.
          </p>
          <h6>Our Mission</h6>
          <p>
            Our Mission is to reach to each and every corner of the
            world and provide the best quality service to every animal and make
            people aware to to take proper care of their pets and any animals
            near their surroundings.
          </p>
          <h6>Our Vision</h6>
          <p>
            Our vision is to provide ultimate professional Veterinary practice
            along with pet's health care that combines excellent healthcare
            delivers in a consistent, innovative, enjoyable, caring and
            pet-friendly way to provide unforgettable service and experience
            from us
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
