<div class="container p-5">
  <h2 style="text-align: justify;">
    " Having a pet sounds interesting and fun. But adopting a pet and taking
    care of them is a big responsibility. Here are some of the tips which will
    help you to take good care of your pet and keep them happy, active and
    healthy "
  </h2>
  <br /><br />

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Feed your pet a good and high-quality foods.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Take them for a walk every day for at least half an hour.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Provide them with the needed vaccination on time.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Keep a clean and hygienic environment for them.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Visit Vet on a weekly/monthly basis.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Engage and do not leave them alone for a long time.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Provide them with a good and comfortable shelter.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Keep them away from dust and allergies.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Love them unconditionally, treat them like your family, talk to them.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Always keep fresh Water available.
  </p>
  <br />
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mdb-icon
      fas
      icon="angle-double-right"
    ></mdb-icon>
    Train your dog to follow the simple commands.
  </p>
  <br />
</div>
