<div class="container p-5">
  <form
    [formGroup]="myForm"
    (ngSubmit)="signup()"
    class="text-center border border-light p-5"
  >
    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormFirstName"
          class="form-control"
          placeholder="First name"
          formControlName="firstname"
        />
      </div>
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormLastName"
          class="form-control"
          placeholder="Last name"
          formControlName="lastname"
        />
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormFirstName"
          class="form-control"
          placeholder="Age"
          formControlName="age"
        />
      </div>
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormLastName"
          class="form-control"
          placeholder="Phone Number"
          formControlName="mobileno"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          class="browser-default custom-select mb-4"
          formControlName="gender"
        >
          <option value="" disabled selected>Choose Gender</option>
          <option value="2">Male</option>
          <option value="3">Female</option>
          <option value="4">Other</option>
        </select>
      </div>
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormLastName"
          class="form-control"
          formControlName="email"
          placeholder="Email"
        />
      </div>
    </div>

    <input
      type="password"
      id="defaultRegisterFormPassword"
      class="form-control mb-4"
      placeholder="Password"
      aria-describedby="defaultRegisterFormPasswordHelpBlock"
      formControlName="password"
    />

    <div class="form-group">
      <textarea
        class="form-control rounded-0"
        id="exampleFormControlTextarea2"
        rows="3"
        formControlName="address"
        placeholder="Address"
      ></textarea>
    </div>

    <button
      mdbBtn
      style="background: #febf01; color: white"
      block="true"
      class="my-4"
      type="submit"
    >
      Submit
    </button>

    <p>
      Already have an Account ?
      <a
        [routerLink]="['/login']"
        style="color: #febf01"
        routerLinkActive="router-link-active"
        href=""
        >Login</a
      >
    </p>
  </form>
</div>
