<section class="team-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h3>Great
            <span>Team</span>
          </h3>
          <p>Teamwork is the ability to work together toward a common vision. <br>
            The ability to direct individual accomplishments toward organizational objectives.
        </div>
        <!-- Nav tabs -->
        <div class="tab-content" id="teamTab">
          <!--Start single tab content-->
          <div class="team-members tab-pane fade show active" id="doctor">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <!-- <div class="team-person text-center">
                  <img loading="lazy" src="/assets/images/Abhishek2.jpg" class="img-fluid" alt="team">
                  <h6>Abhishek Suthar</h6>
                  <p>Co-Founder</p>
                </div> -->
              </div>
              <div class="col-lg-3 col-md-3">
                <div class="team-person text-center">
                  <img loading="lazy" src="/assets/images/Rutvi2.jpg" class="img-fluid" alt="team" height="500px">
                  <h6>Rutvi Bhatt</h6>
                  <p>Co-Founder</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-3">
                <div class="team-person text-center">
                  <img loading="lazy" src="/assets/images/about.JPG" class="img-fluid" alt="team" style="height: 170px;width: 200px;">
                  <h6>Mann Bhatt</h6>
                  <p>Co-Founder</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <!-- <div class="team-person text-center">
                  <img loading="lazy" src="/assets/images/about.JPG" class="img-fluid" alt="team">
                  <h6>Mann Bhatt</h6>
                  <p>Co-Founder</p>
                </div> -->
              </div>
            </div>
          </div>
          <!--End single tab content-->
          <!--Start single tab content-->
          <div class="team-members tab-pane fade" id="event-planning">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/event-1.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Sheiring Ton</h6>
                  <p>Manager</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/event-2.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Rig Richard</h6>
                  <p>Sr. Manager</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/event-3.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Tom Moddy</h6>
                  <p>President</p>
                </div>
              </div>
            </div>
          </div>
          <!--End single tab content-->
          <!--Start single tab content-->
          <div class="team-members tab-pane fade" id="lab">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/doctor-lab-1.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Maria Robert</h6>
                  <p>X-ray</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/doctor-lab-2.jpg" class="img-fluid" alt="team">
                  <h6>Dr. John Kelly</h6>
                  <p>ultrasound therapy</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/doctor-lab-3.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Simran Toe</h6>
                  <p>bone therapy</p>
                </div>
              </div>
            </div>
          </div>
          <!--End single tab content-->
          <!--Start single tab content-->
          <div class="team-members tab-pane fade" id="marketing">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/doctor-2.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Rag Jhon</h6>
                  <p>Eye Specialist</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/doctor-lab-2.jpg" class="img-fluid" alt="team">
                  <h6>Dr. John Kelly</h6>
                  <p>ultrasound therapy</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="team-person text-center">
                  <img loading="lazy" src="images/team/event-1.jpg" class="img-fluid" alt="team">
                  <h6>Dr. Sheiring Ton</h6>
                  <p>Manager</p>
                </div>
              </div>
            </div>
          </div>
          <!--End single tab content-->
        </div>
      </div>
    </div>
  </div>
</section>
