<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="/assets/images/dog.jpg"
        alt="First slide"
      />
   
    </div>
    <div class="carousel-caption">
      <!-- <h3 class="h3-responsive">Light mask</h3> -->
      <!-- <p>First text</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="/assets/images/test_2.jpg"
        
        alt="Second slide"
      />
     
    </div>
    <div class="carousel-caption">
      <!-- <h3 class="h3-responsive">Strong mask</h3> -->
      <!-- <p>Secondary text</p> -->
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="/assets/images/test_1.jpg"
        style="display: flex"
        alt="Third slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <!-- <h3 class="h3-responsive">Slight mask</h3> -->
      <!-- <p>Third text</p> -->
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<section class="cta">
  <div class="container">
    <div class="cta-block row no-gutters">
      <div class="col-lg-4 col-md-6 emmergency item">
        <i class="fa fa-phone"></i>
        <h2>Emegency Cases</h2>
        <a href="tel:1-800-700-6200">099244 18184</a>
        <p>Address: Panjrapol Road Ahmedabad Panjrapol Campus Panjrapol, Ambawadi, Ahmedabad, Gujarat 380015.</p>
      </div>
      <div class="col-lg-4 col-md-6 top-doctor item">
        <i class="fa fa-stethoscope"></i>
        <h2>24 Hour Service</h2>
        <p>
          Need Help!!! We are ready to serve you fill up form below and we'll
          contact you soon
        </p>
        <a
          [routerLink]="['/service']"
          routerLinkActive="router-link-active"
          class="btn btn-main"
          >Click Here</a
        >
      </div>
      <div class="col-lg-4 col-md-12 working-time item">
        <img src="/assets/images/clock.png" alt="" />
        <h2 style="padding-top: 14px;">Working Hours</h2>
        <ul class="w-hours">
          <li>Mon - Fri - <span>9:30am - 5:30pm</span></li>
          <li>Sat - Sun - <span>9:30am - 5:30pm</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="feature-section section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="image-content">
          <div class="section-title text-center">
            <h3>Services <span>we provide</span></h3>
            <p class="mb-0">
              Pets are humanizing. They remind us we have an obligation and
              responsibility to preserve and nurture and care for all life
              <br />
              An animal’s eyes have the power to speak a great language.
            </p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html"
                      ><img
                        loading="lazy"
                        height="56px"
                        width="56px"
                        src="/assets/images/vet.png"
                        alt="features image"
                    /></a>
                  </figure>
                </div>
                <h3 class="mb-2">Health Care</h3>
                <p>
                  We Provide Health Solutions for pet and street animals. We
                  send our Experienced Veterinarians to your place.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        height="56px"
                        width="56px"
                        src="/assets/images/life-preserver.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Rescue</h3>
                <p>
                  We sent our well trained and experienced team to rescue your
                  lovely birds and animal
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        height="56px"
                        width="56px"
                        src="/assets/images/grave.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Dead Body Pick-up</h3>
                <p>
                  Have you found any animal or bird dead . Inform us we will
                  help them rest in peace
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        height="56px"
                        width="56px"
                        src="/assets/images/vaccine.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Vaccination</h3>
                <p>
                  Do you have a pet? Don't worry, just inform us we'll vaccinize
                  at your door step.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        height="56px"
                        width="56px"
                        src="/assets/images/adoption.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Pet Adoption</h3>
                <p>
                  Are you in search for a good friend to play with? Don't worry
                  we have one waiting for you!!
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box">
                  <figure>
                    <a href="services.html">
                      <img
                        loading="lazy"
                        height="56px"
                        width="56px"
                        src="/assets/images/paw.png"
                        alt="features image"
                      />
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Pet Care</h3>
                <p>Do you have a pet? Here's an advice for you</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
